doctype
html
  head
    meta(charset='UTF-8')
    title gradient
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    include assets.svg

    svg(viewBox="0 0 1000 1000").svg
      g(mask="url(#mask2)")
        svg(id="process", width="100%")
          svg(width="1000", viewBox="0 0 1200 1200")
            rect(id="rainbow", x="-500", y="-500", fill="url(#gradient-pattern)", width="2000", height="2000")
      lineargradient#SVGID_1_(gradientunits='userSpaceOnUse', x1='188.5', y1='800', x2='188.5', y2='1000')
        stop(offset='0', style='stop-color: #000000; stop-opacity: 0;')
        stop(offset='1', style='stop-color: #000000;')
      rect(stroke-width='0', x='400', y='800', fill='url(#SVGID_1_)', width='160', height='201')

    script(src="js/tweenmax.min.js")
    script(src="js/main.js")


