doctype
html
  head
    meta(charset='UTF-8')
    title gradient
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    include assets.svg

    svg(viewBox="0 0 1000 1000").svg
      g(mask="url(#mask2)")
        rect(id="rainbow", x="150", y="0", fill="url(#gradient-pattern)", width="700", height="1000")

    script(src="js/tweenmax.min.js")
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/velocity/jquery.velocity.js")
    script(src="js/main.js")


